
autoPirate/upload/Movies/Drive (2011) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/YIFYStatus.com.txt
autoPirate/upload/Movies/Evil Dead (2013) \[1080p\]/Evil Dead.mp4
autoPirate/upload/Movies/Evil Dead (2013) \[1080p\]/Evil.Dead.2013.1080p.BluRay.x264.YIFY.srt
autoPirate/upload/Movies/Evil Dead (2013) \[1080p\]/WWW.YIFY-TORRENTS.COM.jpg
autoPirate/upload/Movies/Evil Dead II (1987) \[1080p\]/Evil Dead II.mp4
autoPirate/upload/Movies/Evil Dead II (1987) \[1080p\]/Evil.Dead.II.1987.1080p.BRrip.x264.GAZ.srt
autoPirate/upload/Movies/Evil Dead II (1987) \[1080p\]/WWW.YIFY-TORRENTS.COM.jpg
autoPirate/upload/Movies/Going Overboard (1989) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Going.Overboard.1989.1080p.WEBRip.x264.AAC5.1-\[YTS.MX\].mp4
autoPirate/upload/Movies/Up (2009) \[1080p\]/Up.mp4
autoPirate/upload/Movies/Up (2009) \[1080p\]/WWW.YIFY-TORRENTS.COM.jpg
autoPirate/upload/Movies/WarGames (1983) \[1080p\] \[YTS.AG\]/WarGames.mp4
autoPirate/upload/Movies/WarGames (1983) \[1080p\] \[YTS.AG\]/WWW.YTS.AG.jpg
autoPirate/upload/Movies/Drive (2011) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/www.YTS.MX.jpg
autoPirate/upload/Movies/Drive (2011) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/Subs/spa.srt
autoPirate/upload/Movies/Drive (2011) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/Subs/English.srt
autoPirate/upload/Movies/Drive (2011) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/Drive.2011.1080p.BluRay.x264.AAC5.1-YTS.MX.mp4
autoPirate/upload/Movies/Drive (2011) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/Drive.2011.1080p.BluRay.x264.AAC5.1-\[YTS.MX\].srt
autoPirate/upload/Movies/Army of Darkness (1992) \[1080p\]/WWW.YIFY-TORRENTS.COM.jpg
autoPirate/upload/Movies/Army of Darkness (1992) \[1080p\]/Army.of.Darkness.1992.1080p.BRrip.x264.YIFY.srt
autoPirate/upload/Movies/Army of Darkness (1992) \[1080p\]/Army of Darkness.mp4
autoPirate/upload/Movies/Arizona (2018)/www.YTS.AM.jpg
autoPirate/upload/Movies/Arizona (2018)/Arizona.2018.1080p.WEBRip.x264-\[YTS.AM\].mp4
autoPirate/upload/Movies/Antz (1998) \[BluRay\] \[1080p\] \[YTS.AM\]/Antz.mp4
autoPirate/upload/Movies/Antz (1998) \[BluRay\] \[1080p\] \[YTS.AM\]/www.YTS.AM.jpg
autoPirate/upload/Movies/Chef (2014) \[1080p\]/Chef.mp4
autoPirate/upload/Movies/Chef (2014) \[1080p\]/WWW.YTS.RE.jpg
autoPirate/upload/Movies/Going Overboard (1989) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/www.YTS.MX.jpg
autoPirate/upload/Movies/Waynes World (1992) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/Wayne's World.mp4
autoPirate/upload/Movies/Waynes World (1992) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/www.YTS.MX.jpg
autoPirate/upload/Movies/Waynes World (1992) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/YIFYStatus.com.txt
autoPirate/upload/Movies/Waynes World 2 (1993) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/Wayne's World 2.mp4
autoPirate/upload/Movies/Waynes World 2 (1993) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/www.YTS.MX.jpg
autoPirate/upload/Movies/Waynes World 2 (1993) \[1080p\] \[BluRay\] \[5.1\] \[YTS.MX\]/YIFYStatus.com.txt
autoPirate/upload/Movies/Black Widow (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Black.Widow.2021.1080p.WEBRip.x264.AAC5.1-\[YTS.MX\].mp4
autoPirate/upload/Movies/Black Widow (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Black.Widow.2021.1080p.WEBRip.x264.AAC5.1-\[YTS.MX\].srt
autoPirate/upload/Movies/Black Widow (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Danish.dan.srt
autoPirate/upload/Movies/Black Widow (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Dutch.dut.srt
autoPirate/upload/Movies/Black Widow (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/English \[SDH\].eng.srt
autoPirate/upload/Movies/Black Widow (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/English.eng.srt
autoPirate/upload/Movies/Black Widow (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Norwegian.nor.srt
autoPirate/upload/Movies/Black Widow (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Swedish.swe.srt
autoPirate/upload/Movies/Black Widow (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/www.YTS.MX.jpg
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Dont.Look.Up.2021.1080p.WEBRip.x264.AAC5.1-\[YTS.MX\].mp4
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Dont.Look.Up.2021.1080p.WEBRip.x264.AAC5.1-\[YTS.MX\].srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Arabic.ara.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Brazilian Portuguese.por.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Chinese Simplified.chi.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Chinese Traditional.chi.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Croatian.hrv.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Czech.cze.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Danish.dan.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Dutch.dut.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/English \[SDH\].eng.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/European Spanish.spa.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Finnish.fin.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/French.fre.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/German.ger.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Greek.gre.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Hebrew.heb.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Hungarian.hun.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Indonesian.ind.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Italian.ita.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Japanese.jpn.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Korean.kor.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Malay.may.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Norwegian Bokmal.nob.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Polish.pol.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Portuguese.por.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Romanian.rum.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Russian.rus.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Spanish.spa.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Swedish.swe.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Thai.tha.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Turkish.tur.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Ukrainian.ukr.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/Vietnamese.vie.srt
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/www.YTS.MX.jpg
autoPirate/upload/Movies/Dont Look Up (2021) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/YTSProxies.com.txt
autoPirate/upload/Movies/Jerry And Marge Go Large (2022) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Jerry.And.Marge.Go.Large.2022.1080p.WEBRip.x264.AAC5.1-\[YTS.MX\].mp4
autoPirate/upload/Movies/Jerry And Marge Go Large (2022) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Jerry.And.Marge.Go.Large.2022.1080p.WEBRip.x264.AAC5.1-\[YTS.MX\].srt
autoPirate/upload/Movies/Jerry And Marge Go Large (2022) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/English.srt
autoPirate/upload/Movies/Jerry And Marge Go Large (2022) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/Subs/SDH.eng.srt
autoPirate/upload/Movies/Jerry And Marge Go Large (2022) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/www.YTS.MX.jpg
autoPirate/upload/Movies/Jerry And Marge Go Large (2022) \[1080p\] \[WEBRip\] \[5.1\] \[YTS.MX\]/YTSProxies.com.txt
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S01.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S01E01.The.Gang.Gets.Racist.480p.WEB-DL.AAC2.0.H.264-BTN.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S01.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S01E02.Charlie.Wants.an.Abortion.480p.WEB-DL.AAC2.0.H.264-BTN.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S01.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S01E03.Underage.Drinking.A.National.Concern.480p.WEB-DL.AAC2.0.H.264-BTN.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S01.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S01E04.Charlie.Has.Cancer.480p.WEB-DL.AAC2.0.H.264-BTN.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S01.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S01E05.Gun.Fever.480p.WEB-DL.AAC2.0.H.264-BTN.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S01.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S01E06.The.Gang.Finds.a.Dead.Guy.480p.WEB-DL.AAC2.0.H.264-BTN.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S01.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S01E07.Charlie.Got.Molested.480p.WEB-DL.AAC2.0.H.264-BTN.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S01.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/RARBG.txt
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S02.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S02E00.Making.A.Scene.Its.Always.Sunny.480p.WEB-DL.AAC2.0.H.264.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S02.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S02E01.Charlie.Gets.Crippled.480p.WEB-DL.AAC2.0.H.264.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S02.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S02E02.The.Gang.Goes.Jihad.480p.WEB-DL.AAC2.0.H.264.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S02.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S02E03.The.Gang.Gives.Back.480p.WEB-DL.AAC2.0.H.264.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S02.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S02E04.Dennis.and.Dee.Go.On.Welfare.480p.WEB-DL.AAC2.0.H.264.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S02.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S02E05.Mac.Bangs.Dennis.Mom.480p.WEB-DL.AAC2.0.H.264.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S02.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S02E06.The.Gang.Runs.For.Office.480p.WEB-DL.AAC2.0.H.264.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S02.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S02E07.Hundred.Dollar.Baby.480p.WEB-DL.AAC2.0.H.264.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S02.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S02E08.Charlie.Goes.America.All.Over.Eve.480p.WEB-DL.AAC2.0.H.264.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S02.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S02E09.The.Gang.Exploits.A.Miracle.480p.WEB-DL.AAC2.0.H.264.mkv
autoPirate/upload/Shows/Its.Always.Sunny.in.Philadelphia.S02.WEB-DL.AAC2.0.H.264-BTN\[rartv\]/Its.Always.Sunny.in.Philadelphia.S02E10.Dennis.and.Dee.Get.A.New.Dad.480p.WEB-DL.AAC2.0.H.264.mkv
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/RARBG.txt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E01.1080p.BluRay.x265-RARBG/5_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E01.1080p.BluRay.x265-RARBG/6_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E02.1080p.BluRay.x265-RARBG/4_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E02.1080p.BluRay.x265-RARBG/5_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E03.1080p.BluRay.x265-RARBG/4_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E03.1080p.BluRay.x265-RARBG/5_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E04.1080p.BluRay.x265-RARBG/4_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E04.1080p.BluRay.x265-RARBG/5_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E05.1080p.BluRay.x265-RARBG/4_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E05.1080p.BluRay.x265-RARBG/5_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E06.1080p.BluRay.x265-RARBG/3_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/Subs/The.Office.US.S01E06.1080p.BluRay.x265-RARBG/4_English.srt
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/The.Office.US.S01E01.1080p.BluRay.x265-RARBG.mp4
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/The.Office.US.S01E02.1080p.BluRay.x265-RARBG.mp4
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/The.Office.US.S01E03.1080p.BluRay.x265-RARBG.mp4
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/The.Office.US.S01E04.1080p.BluRay.x265-RARBG.mp4
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/The.Office.US.S01E05.1080p.BluRay.x265-RARBG.mp4
autoPirate/upload/Shows/The.Office.US.S01.1080p.BluRay.x265-RARBG/The.Office.US.S01E06.1080p.BluRay.x265-RARBG.mp4
autoPirate/imdb.py
